<div class="text-center">
  <h2 class="blog-post-title">{{title}}</h2>
  <p class="blog-post-user">Posted by {{user.name}}
  </p>
  <h3>Ingredients</h3>
  <p>{{ingredients}}</p>
  <h3>Method</h3>
  <p>{{method}}</p>
</div>

<div class="flex-column justify-center" id="comments">
  <h3 id="mycomment">Comments</h3>
    {{#each comments as |comment|}}
    {{> comment-details}}
    {{/each}}
  <div>
    {{!-- Necessary for adding comments --}}
    <p id="recipeId">{{recipeId}}</p>

    {{#if logged_in}}
      <div>
        <form class="form new-comment-form">
          <div class="form-group">
            <label for="comment-content" id="addcomment"><h4>Add a Comment:</h4></label>
            <textarea class="form-input" id="comment-content" name="comment-content"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="commentBtn">Comment</button>
          </div>
        </form>
      </div>
    {{else}}
      <h4>Sign in to leave a comment</h4>
    {{/if}}
  </div>
</div>

<script src="/js/comments.js"></script>
