<div class="text-center">
  <h2 class="blog-post-title">{{title}}</h2>
  <p class="blog-post-user">Posted by {{user.name}}
  </p>
  {{!-- This commented out tags bit isn't working --}}
  {{!-- <p>Tags: 
    {{#each tags as |tag|}}
    {{recipe.tag.tag_name}},
    {{/each}}
  </p> --}}
  <h3>Ingredients</h3>
  <p>{{ingredients}}</p>
  <h3>Method</h3>
  <p>{{method}}</p>
</div>
{{!-- Comments could go here --}}
<div class="flex-column justify-center">
  <h3>Comments</h3>
    {{#each comments as |comment|}}
    {{> comment-details}}
    {{/each}}
</div>
<div>
  <form class="form new-comment-form">
      <div class="form-group">
        <label for="comment-content"><h4>Add a Comment:</h4></label>
        <textarea class="form-input" id="comment-content" name="comment-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Comment</button>
      </div>
    </form>
</div>

<script src="/js/test-comments.js"></script>
